@import url(reset.css);
@import url(base.css);
@import url(theme.css);

* {
    color: var(--black);
}

/* 카드 레이아웃 */
.card-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap-spacing);
}

.card {
    height: var(--size);
    background-color: beige;
    text-align: center;
    background: image-set(url("../products/ipad_pro.jpeg")1x, url("../products/ipad_pro_2x.jpeg")2x);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-text {
    margin-top: var(--large-spacing);

    h2 {
        font-size: var(--large-text);
        margin-bottom: var(--small-spacing);
        font-weight: 800;
    }

    b {
        display: block;
        font-size: var(--base-text);
        line-height: var(--line-normal);
        margin-bottom: var(--x-small-spacing);
    }

    p {
        font-size: var(--small-text);
        margin-bottom: var(--x-small-spacing);
        color: var(--gray);
    }
}

.card-btn {
    margin-top: var(--x-small-spacing);
    margin-bottom: var(--x-small-spacing);
    
    :first-child {
        margin-right: var(--base-spacing);
    }

    button {
        font-size: var(--xx-small-text);
        border: 1px solid var(--blue-100);
        border-radius: 50px;
        padding: var(--x-small-spacing);
        background: transparent;
    }

    .more-btn {
        color: var(--white);
        background: var(--blue-100);
    }
  
    .price-btn {
        color: var(--blue-400);
    }
  }