* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    text-decoration: none;
    list-style: none;
    transition: 0.5s;
    font-size: 1rem;
    color: #181818;
    /* border: 1px solid silver; */
}

input {
    background: #fff;
    border: none;
    outline: none;
}

input:focus {
    outline: none;
    background-color: none;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0
  }

body {
    width: 100%;
    height: 100vh;
}

article {
    margin-top: 7.5rem;
}

.logo {
    width: 14.375rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 2.5rem;
}

.login-form {
    padding: 0 1.25rem;
    width: 100%;
    background-color: beige;
    margin-bottom: 0.875rem;

    .login-input-group {
        input {
            font-size: 0.875rem;
            width: 100%;
            height: 2.8125rem;
            border: 1px solid #dadada;
        }
    
        input:focus-visible {
            outline: 1px solid #03cf5d;
            background-color:  #e9f0fd;
        }
    }

    .login-input-group div:first-child {
        margin-bottom: 0.75rem;
    }
    
    .login-button {
        font-size: 1rem;
        width: 100%;
        height: 2.8125rem;
        background: #03cf5d;
        color: #fff;
        margin-top: 1.25rem;
        border: none;
    }
}
